:host {
    display: flex;
    // flex-grow: 1;
    background-color: #f0fff0;
    flex: 1 0 auto; /* 2 */
    // padding: 0;
    // margin: 0;
    // width: 100%;
}

.body-style {
    padding: 20px;
    flex-grow: 1;
}

