<div class="menu-item"
  [routerLink]="item.route"
  routerLinkActive="router-link-active"
  [ngClass]="{ 'vertical-menu': menuService.isVertical }"
  (click)="menuService.showingLeftSideMenu = false;"
>
  <i class="fa {{ item.icon }}" aria-hidden="true"></i>
  <span>{{ item.text.toUpperCase() }}</span>
</div>

<ss-popup-menu
    *ngIf="mouseInPopup || mouseInItem"
    [menuItems]="item.submenu"
    [ngClass]="{ 'vertical-menu': menuService.isVertical }"
    (mouseleave)="onPopupMouseLeave($event)"
    (mouseenter)="onPopupMouseEnter($event)"
    [style.left.px]="popupLeft"
    [style.top.px]="popupTop"
>
     <!-- @visibilityChanged> @visibilityChanged applies the trigger named 'visibilityChanged' to our popup-menu -->
    <!--
      Note: we do not want to use mousein/mouseout as they pick up events on child elements which would interfere with our two span children
      mouseleave/mouseenter events ignore events emitted from children elements
    -->
</ss-popup-menu>
