:host {
    display: inline-block;
    position: relative; // Child pop-up menu items need to be positioned relative to this menu item.
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 15px;
    line-height: 15px;
    color: #666;
    cursor: pointer;
    box-sizing: border-box; // works well with margins and padding.
    width: 100%;
}

/* If host does not contain the class "parent-is-popup", add the margin-left and auto width - activates part of our inline-block display */
:host:not(.parent-is-popup) {
    // margin-left: 16px;
    width: auto;
}

/* add/override :host properties when this element has the .vertical-menu class */
:host(.vertical-menu) {
    display: block; // puts each item on it's own line
    margin-left: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    color: white;
}

/* :host property: Add padding to the left only if we are inside a vertical menu popup: */
:host(.vertical-menu.in-popup) {
    padding-left: 16px;
}

span {
    pointer-events: none;
}

// TODO: Add more .fa styling if needed.
.fa {
    margin: 0 8px 0 4px;
}

.fa-angle-down, .fa-angle-right, .fa-angle-left, .fa-angle-up {
    float: right;
    padding-left: 18px; // minimum padding for horizontal menu arrow alignment.
}

.menu-item {
    padding: 10px 10px 10px 0;
}

/* Adjust padding for .menu-item that also has .vertical-menu class */
.menu-item.vertical-menu {
    padding: 6px 6px 6px 0;
}

.menu-item:hover {
    background-color: #dfd;
}

.menu-item:focus {
    outline: none;
}

.menu-item.vertical-menu:hover {
    background-color: green;
}

.router-link-active {
    background-color: #dfd;
}

.router-link-active.vertical-menu {
    background-color: green;
}
