<!--Small Screen-->
<div *screenBelowLarge class="title-bar-small">
  <i class="fa fa-bars fa-2x fa-fw" aria-hidden="true" (click)="menuService.toggleLeftSideMenu()"></i>
  <div class="small-image-holder">
    <img src="assets/images/logo.png" class="small-image">
  </div>

  <!-- Settings option 1 -->
  <i class="fa fa-cog fa-2x fa-fw" aria-hidden="true"></i>

  <!-- Settings option 2 -->
  <!-- <i class="fa fa-ellipsis-v fa-2x fa-fw" aria-hidden="true"></i>   -->

  <!-- Settings option 3 -->
  <!-- <a class="btn btn-secondary btn-sm" aria-label="Settings"> 
     <i class="fa fa-ellipsis-v fa-2x fa-fw" style="min-width: 40px;" aria-hidden="true"></i> 
   </a>  -->
  <!-- <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i> -->
</div>
<!--/small screen-->


<!--Large Screen-->
<div *screenLarge class="title-bar app-title-bar">
  <img src="assets/images/logo.png" alt="Green Nations Logo">
  <div class="menu-area">
    <ss-top-bar></ss-top-bar>
    <!-- Display the horizontal menu (if not menuService.isVertical) -->
    <ss-menu *ngIf="!menuService.isVertical"></ss-menu>
  </div>
</div>