:host {
    display: flex;
    align-items: flex-end; // right side of the flex box
    justify-content: flex-end; // bottom of the flex box
    flex-grow: 1; // menu grows with size of the screen
}

/* add/override :host properties when this element has the .vertical-menu class */
:host(.vertical-menu) {
    display: inline-block;
    width: 200px;
    padding-left: 4px;
    flex-grow: 0; // this menu has a static width, so we don't want it to grow
    background-color: #555;
    overflow: auto; // allows vertically scrollable long menu
}

ul {
    list-style-type: none; // no bullet points
    margin: 0;
    padding: 0;
}

li {
    display: inline; // displayed in horizontal row
}

button {
    margin-top: 20px;
}
button.horizontal {
    margin-left: 20px;
    margin-bottom: 2px;
}

